:root {
  --azulp: #0000FF;
  --brancoop: #FFFFFF;
  --amarelo: #FFFF00;
}


.patrick-hand-sc-regular {
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
}


.background-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.conteudo {
  position: relative;
  z-index: 1;
  padding: 20px;
}


body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.titulo {
  text-align: center;
  color: brown;
  font-family: "Patrick Hand SC", cursive;
  font-size: 50px;
  padding: 30px;
}

.texto01 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

.texto02 {
  font-size: 40px;
  font-family: "Geologica", sans-serif;
  color: #FFFF00;
}

.tópicos {
  margin-top: 120px;
  font-family: "Geologica", sans-serif;
  font-size: 30px;
  color: #ff9100;
}

.textotop {
    color: whitesmoke;
}

.oqueeaconexao {
  font-family: "Patrick Hand SC", cursive;
  font-size: 60px;
  color: brown;
  text-align: center;
}

.explicar_conexao {
  font-family: "Geologica", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #FFFF00;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  font-family: "Geologica", sans-serif;
  background-color: #d3f4d1;
}

th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

th {
  background-color: #d3f4d1;
}

caption {
  font-family: "Patrick Hand SC", cursive;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 10px;
  color: brown;
}

.vejamais {
  text-align: center;
  font-size: 60px;
  color: brown;
  font-family: "Patrick Hand SC", cursive;
}

.yt {
  width: 300px;
}

.ft1 {
  float: left;
  border-radius: 60px;
  border: 6px solid black;
  margin-right: 15px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 0; 
}

.background-carousel {
  z-index: -2;
}

.conteudo {
  position: relative;
  z-index: 1;
}
